@reference "tailwindcss";
.image {
    transition:
        filter 600ms ease-in-out,
        transform 200ms ease-in-out;
    filter: grayscale(1) opacity(60%);
    transform: scale(95%);
    &.activeImage {
        filter: none;
        transform: scale(102%);
    }
}

.link {
    @apply gap-1 justify-center items-center flex w-fit;
    &:before{
        content: "*";
    }
}
