/* maple-mono-latin-400-normal */
@font-face {
    font-family: "MapleMono";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2)
        format("woff2"),
        url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff)
        format("woff");
}

/* maple-mono-latin-600-normal */
@font-face {
    font-family: "MapleMono";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-600-normal.woff2)
        format("woff2"),
        url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-600-normal.woff)
        format("woff");
}
