@keyframes click-transition {
    25% {
        border-radius: 49px;
        background: linear-gradient(145deg, #131313, #161616);
        box-shadow:
            14px 14px 28px #0f0f0f,
            -14px -14px 28px #1b1b1b;
    }
    100% {
        border-radius: 49px;
        background: linear-gradient(145deg, #161616, #131313);
        box-shadow:
            14px 14px 28px #0f0f0f,
            -14px -14px 28px #1b1b1b;
    }
}

.skButton {
    border-radius: 49px;
    background: #151515;
    box-shadow:
        14px 14px 28px #0f0f0f,
        -14px -14px 28px #1b1b1b;

    transition: transform 150ms ease-out;
    &:active {
        transform: scale(98%);
        /*animation-name: click-transition;*/
        animation-duration: 200ms;
        animation-direction: forwards;
        animation-timing-function: ease-out;
    }
}
