@reference "tailwindcss";

.header {
    @apply w-full font-semibold cursor-pointer tracking-tight;
    @apply underline decoration-2 decoration-dotted;
    text-decoration-color: rgba(
        from var(--color-theme-primary-800) r g b /
        70%
    );

    &:active {
        background-color: var(--color-theme-primary-900);
    }
}

.header_1 {
    @apply mt-12 mb-3 text-[2.5em];
}

.header_2 {
    @apply mt-10 mb-2 text-[2.2em];
}

.header_3 {
    @apply mt-8 mb-2 text-[1.875em];
}

.header_4 {
    @apply mt-6 mb-1.5 text-[1.5em];
}

.header_5 {
    @apply mt-5 mb-1 text-[1.25em];
}

.header_6 {
    @apply mt-4 mb-1 text-[1.125em];
}

.header_button {
    @apply w-full flex justify-start items-baseline text-start relative leading-10;
    display: block;
    cursor: pointer;
    border: none;
    font-size: inherit;
    overflow-wrap: anywhere;

    &:hover {
        color: var(--color-light-text-secondary);
    }
}

.paragraph {
    @apply mb-3 max-w-prose;

    &:has(+ .paragraph) {
        @apply mt-2 mb-0;
    }

    &:has(.image) {
        width: 100%;
    }
}

.bold {
    @apply font-bold;
    color: var(--color-theme-primary-50);
}

.italic {
    @apply italic;
}

.striked {
    @apply line-through decoration-2 decoration-wavy;
    text-decoration-color: var(--color-light-shade-red);
}

.anchor {
    --color: hsla(from var(--color-light-secondary) h s calc(l - 40));
    @apply underline decoration-2 decoration-dotted italic px-0.5;
    @apply transition-colors duration-150 ease-out;
    text-decoration-color: var(--color);

    &:hover,
    &:active {
        background-color: rgba(from var(--color) r g b / 20%);
    }
}

.code {
    --color: var(--color-theme-primary-700);
    @apply px-1.5 py-0.5 rounded;
    outline: 1px solid rgba(from var(--color) r g b / 40%);
    background-color: rgba(from var(--color) r g b / 20%);
    font-family: var(--font-primary);
}

.preformatted {
    border: solid 2px var(--color-theme-primary-800);
    background-color: --alpha(var(--color-theme-primary-800) / 20%);
    @apply p-3 my-3 rounded-md w-full overflow-auto;

    &:has(+ .preformatted) {
        @apply mb-2;
    }

    .code {
        @apply bg-transparent outline-none p-0 text-sm;
    }
}

.blockquote {
    position: relative;
    @apply my-4 px-3 py-2 rounded-md;
    background-color: --alpha(var(--color-theme-primary-400) / 10%);

    &:before {
        position: absolute;
        left: -0.55rem;
        top: -0.75rem;
        content: "*";
        color: orangered;
        background-color: var(--color-theme-primary);
        @apply p-0 px-1 rounded-2xl text-sm;
    }

    .blockquote {
        @apply mt-2 mx-1;

        &:before {
            content: none;
        }
    }
}

.horizontal_line {
    @apply my-6 border-t-2 border-dotted;
    border-color: var(--color-theme-primary-800);
}

.image {
    @apply my-4 rounded-md w-full min-w-80;
}

.list {
    @apply mt-3 mb-3 pl-5;

    &.list {
        @apply ml-4 mb-2;
    }
}

.unordered_list {
    @apply list-disc;
}

.ordered_list {
    @apply list-decimal;
}

.list_item {
    @apply mb-1.5;
}

.table {
    @apply my-4 border-2 rounded overflow-hidden;

    &,
    * {
        border-color: var(--color-light-border);
    }
}

.table_head_cell {
    @apply px-3 py-2 border-2 text-center;
    background-color: var(--color-light-secondary);
}

.table_data {
    @apply px-3 py-2 border text-center;
}

.table_container {
    position: relative;
    @apply w-fit;
}

.table_action_buttons_summary {
    @apply w-fit border-2 px-2.5 py-1 cursor-pointer text-center grid grid-cols-2;
    border-color: var(--color-light-border);
    background-color: var(--color-light-secondary);

    &::marker {
        content: none;
    }
}

.table_action_buttons_details {
    @apply flex-col items-end text-center translate-x-full;
    position: absolute;
    background-color: var(--color-light-primary);
    right: 0;
    top: 100%;

    button {
        display: block;
        @apply px-2 py-1 border-2 w-full;
    }

    &:open {
        .table_action_buttons_summary {
            @apply border-b-0;
        }

        button {
            &:nth-of-type(n) {
                @apply border-b-transparent;
            }

            &,
            &:last-of-type {
                border-color: var(--color-light-border);
            }
        }
    }
}

.button {
    @apply px-3 py-1.5 rounded-md;
}
