@reference "@/tailwind.css";

/* biome-ignore lint/correctness/noUnknownPseudoElement: . */
*::selection {
    @apply bg-theme-primary-500/40;
    /*color: #151515;*/
}

html {
    font-size: 18px;
    @apply bg-theme-primary text-theme-primary-50;
}
